.Cookies {
  width: 100%;
  padding: 20px;
  background-color: #202020;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  transition: transform ease 0.5s;
  transform: translateY(100%);

  &_active {
    transform: translateY(0%);
  }

  &__text {
    color: #fff;
  }

  &__button {
    background-color: #fff;
    font-size: 22px;
    padding: 8px 30px 10px;
    margin-left: 40px;
    line-height: 1;
    transition: ease 0.6s;
    border: 1px solid #fff;
    border-radius: 26px;

    &:hover {
      transform: scale(1.1);
      border: 1px solid #ff5733;
      color: #ff5733;
    }
  }
}
