@import "../../utils/variables.scss";

.Logo {
  font-family: "Oleo Script Swash Caps", cursive, Arial, Helvetica, sans-serif;
  position: relative;

  &__link {
    color: #ffc7bb;
    font-size: 35px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: color ease 0.7s;
  }

  &:hover &__link {
    color: #fff;
  }

  &:hover &__link-icon::before {
    background-image: url("../../../public/assets/icons/pizza_white.png");
  }

  @media screen and (max-width: $mobile) {
    &__link {
      font-size: 27px;
    }
  }

  @media screen and (max-width: $oldMobile) {
    &__link {
      font-size: 20px;
    }
  }
}
